:root {
  --main: rgb(34, 73, 156);
  --alt: #e52b50;
  --bg: #ffff;
  --bg-alt: rgb(206, 205, 205);
  --border: transparent;
  --text: rgb(61, 61, 61);
  --text-r: rgb(102, 102, 102);
  --text-alt: #ffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgb(131, 139, 207), rgb(168, 119, 138));
  padding: 7px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pad {
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-template-areas:
    "a a a a"
    "a a a a"
    "c c c c"
    "d d d e"
    "d d d e"
    "d d d e"
    "d d d e";
  grid-gap: 7px;
}
.pad-item {
  width: 100%;
  height: 100%;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text);
  border-radius: 7px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 20px;
}
.display {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 3rem;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 30px 20px;
  grid-area: a;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
#input{
  text-align: end;
  overflow-x: auto;
}
#input::-webkit-scrollbar {
  display: none;
}
#output{
  font-size: 1.2rem;
  color: var(--text-r);
  text-align: start;
  overflow-x: auto;
}
#output::-webkit-scrollbar {
  display: none;
}
/* .misc {
  grid-area: b;
  display: flex;
  gap: 7px;
} */
.misc .pad-item {
  color: grey;
}
.ctrl {
  grid-area: c;
  display: flex;
  gap: 7px;
}
.ctrl .pad-item {
  color: var(--main);
  background: var(--bg-alt);
}
.operators {
  grid-area: e;
  display: grid;
  grid-gap: 7px;
  grid-template-rows: repeat(4, 1fr);
}
.operators .pad-item {
  color: var(--main);
  background: var(--bg-alt);
}
.digits {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(3, 0.333fr);
  grid-gap: 7px;
}
#clear {
  background: var(--alt);
  color: var(--bg);
}
#equal {
  grid-row: span 2;
  background: var(--main);
  color: var(--bg);
}
.blinking-cursor{
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@media screen and (max-width: 320px) and (max-height:580px) {
  .pad-item {
    padding: 7px;
  }
}
@media screen and (max-width: 355px) {
  .pad {
    grid-template-columns: minmax(auto, auto);
  }
}
@media only screen and (orientation: landscape) and (min-device-aspect-ratio: 6/5){
  .pad {
    width: 60vw;
  }
}
@media only screen and (orientation: landscape) and (min-device-aspect-ratio: 3/2){
  .pad {
    width: 60vw;
  }
}
@media screen and (min-device-aspect-ratio: 2/1){
  .pad {
    max-width: 50vw;
  }
}
@media screen and (min-device-aspect-ratio: 3/1){
  .pad {
    max-width: 35vw;
  }
}
@media screen and (min-width: 1000px) and (min-height:1000px) {
  .pad-item {
    font-size: 3rem;
  }
}
#input.result{
  color: var(--main);
}